/* generales */
$fuente1: catamaran;

$colores:(
    c1: rgb(56, 54, 54),
    c2: rgb(255, 255, 255),
    c3: #3aac95,
    c4: rgb(85, 83, 83),
);

* {
    box-sizing: border-box;
    font-family: $fuente1;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}
body{
    background-color: map-get($colores, c2 );
}

/*Personalizacion de scrollbar*/
body::-webkit-scrollbar {
    width: 10px;
    border-radius: 50px;
    background: rgba(53, 121, 106, .2);
}

body::-webkit-scrollbar-thumb {
    background: rgba(6, 58, 22, .5);
    border-radius: 100px;
}

/*dentro de esta clase estan las columnas de distintos porcentajes (25%, 33% y 50%)*/
.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
}

/* define columnas de determinado % de pantalla, se ubican en div row */
/* columna25 y 50 eliminadas por obsoletas */
/*columna33 vigente en index  y footer */
.columna33 {
    width: 33.3%;
    text-align: center;
}

/*  INICIO HEADER */
header {
    background-image: linear-gradient(rgba(245, 238, 238, 0) 50%, map-get($colores, c2)), url(../img/opcionfondo2.jpeg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px;
    margin: 0px;
    z-index: 1;
    position: relative;
    img {
        margin-left: 15px;
        width: 200px;
    }

    .menu {
        margin-right: 0px;
        z-index: 2;
        ul {
            display: flex;
            margin-right: 10px;
        }
    }
}


header a {
    text-decoration: none;
    color: map-get($colores, c1);
    font-size: 18px;
    padding: 1px 15px 1px;
    margin-left: 6px;
    font-weight: 500;
    z-index: 2;
}

header nav a:hover {
    border-top: 1px solid map-get($colores, c1);
    border-bottom: 1px solid map-get($colores, c1);
    transition: all 0.4s;
    font-weight: 600;
    /* esto esta para corregir boostrap */
    color: map-get($colores, c1);
    text-decoration: none;
    /* fin correccion boostrap  */
}

header nav .paginaActual {
    border-top: 1px solid map-get($colores, c1);
    border-bottom: 1px solid map-get($colores, c1);
}
/* FIN HEADER */

/*boton para volver arriba*/
#goUp {
    position: fixed;
    top: 10px;
    right: 10px;
    background-image: url(../img/favicon.png);
    filter: saturate(50%);
    background-size: cover;
    border-radius: 30%;
    width: 50px;
    height: 54px;
    z-index: 1;
}

#goUp h2 {
    text-align: center;
    font-size: 25px;
    margin: 0;
    padding-top: 15px;
}

#goUp a {
    text-decoration: none;
    color: map-get($colores, c2)
}

main {
    margin: 10px 10px;
}

/*INICIO FOOTER*/
footer {
    background-image: linear-gradient(map-get($colores, c2 ), rgba(245, 238, 238, 0) 50%), url(../img/opcionfondo2.jpeg);
    color: map-get($colores, c4);
    width: 100%;
    justify-items: center;

    .row {
        align-items: center;
        padding: 10px;
    }

    .logofooter img {
        width: 30vh;
    }

    a {
        color:  map-get($colores, c4);
        transition: 0.5s;
    }
    .columnaredes a {
        text-decoration: none;
        font-size: 50px;
        color:  map-get($colores, c4);
    }
}


footer a:hover {
    color: black;
    transition: 0.5s;
}

footer ul li {
    padding: 10px 0 10px 0;
}

footer .columnaredes ul {
    display: flex;
    flex-wrap: wrap;
}

footer .columnaredes ul li {
    padding: 15px;
}

/* FIN FOOTER */


/*INICIO PAGINA INDEX*/
h1{
    display: none;
}

.carousel-item img {
    max-height: 400px;
    width: 100%;
 }

.carousel-indicators li {

    background-color: map-get($colores, c1);
}

.fa-angle-left,
.fa-angle-right {
    color: map-get($colores, c1);
    font-size: 2rem;
}

.sobremi {
    margin-top: 5px;
}

.testimonios h2 {
    text-align: center;
}

@mixin boxes {
    height: 40vh;
    padding: 15px;
    border-radius: 5px;
    p {
        font-style: italic;
    }
}

.gridInicio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 15px;
    margin-top: 15px;



    @for $i from 1 through 6 {
        .cuadro-#{$i} {
            @include boxes;
            background-color: darken($color: map-get($colores, c3), $amount: $i * 7%);
            color: rgb(255, 255, 255);
        }
    }

}


/* FIN INDEX */
/* PAGINA SERVICIOS*/
.serv {
    display: flex;
    height: 100%;
    filter: grayscale(70%);
    justify-content: center;
}

.serv:hover {
    filter: grayscale(00%);
    transition: 1s;
}

.serv:hover h4 {
    color: rgb(34, 33, 33);
    text-shadow: none;
    transition: .8s;
}

.serv h4 {
    color: white;
    font-size: 2.8rem;
    max-width: 100%;
    text-shadow: 1px 1px 2px black;
}

.talleres {
    grid-area: talleres;
    background-image: url(../img/taller.jpeg);
    background-position: 12px 55%;
    background-size: cover;
}

.pedidos {
    grid-area: pedidos;
    background-image: url(../img/peces.jpg);
    background-size: cover;
    background-position: center;
}

.acrilicos {
    grid-area: acrilicos;
    background-image: url(../img/acrilico.jpeg);
    background-size: cover;
    background-position: center;
}

.murales {
    grid-area: murales;
    background-image: url(../img/paleta.jpeg);
    background-size: cover;
    background-position: 100% 30%;
}

.mates {
    grid-area: mates;
    background-image: url(../img/mates.jpg);
    background-size: cover;
    background-position: 100% 70%;
}

.estampitas {
    grid-area: estampitas;
    background-image: url(../img/estampitas.jpeg);
    background-size: cover;
    background-position: 100% 40%;
}

.serviciosSection {
    display: flex;
    margin-top: 15px;
}

/* FIN PAGINA SERVICIOS */

/*INICIO PAGINA GALERIA*/
.img {
    border: 1px solid black;
    margin: 5px;
    transition: all 0.7s;
    border-radius: 10px;
}

.img img {
    width: 100%;
    border-radius: 10px;
    height: 100%;
}

.img:hover {
    transform: scale(1.1);
    transition: all 0.7s;
}

.img1 {
    grid-area: caballo;
}

.img2 {
    grid-area: perro1;
}

.img3 {
    grid-area: perro2;
}

.img4 {
    grid-area: castillo;
}

.img5 {
    grid-area: casa;
}

.img6 {
    grid-area: estacion;
}

.img7 {
    grid-area: mural;
}

.img8 {
    grid-area: BsAs;
}

.img9 {
    grid-area: cancha1;
}

.img10 {
    grid-area: cancha2;
}

.img11 {
    grid-area: velero;
}

.img12 {
    grid-area: cancha3;
}

.img13 {
    grid-area: cancha4;
}

.img14 {
    grid-area: scooter;
}

/* FIN PAGINA GALERIA */

/*INICIO PAGINA CONTACTO */
.fieldsetContacto {
    width: 70%;
    margin: 15px 15% 15px 15%;
    border: solid map-get($colores, c4) 1px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.326);
}

.fieldsetContacto legend {
    width: auto;
}

.formContacto {
    padding: 5px 10px;
}

fieldset form input {
    padding: 1px !important;
}

.contactoLinea {
    display: flex;
    margin-bottom: 10px;
}

.contactoLinea2 {
    /* display: flex; */
    margin-bottom: 10px;
}

.formContacto label {
    padding: 5px 10px;
}

.formContacto .contactoLinea label {
    display: block;
    width: 10rem;
}

.formContacto .contactoLinea input {
    display: block;
    width: 40%;
    padding: 5px 50px;
    margin: 5px;
}

.formContacto textarea {
    width: calc(100% - 20px);
    margin: 5px 10px;
    height: 20vh;
}

.mapa {
    width: 70%;
    margin-left: 15%;
}

/* FIN PAGINA CONTACTO */







/* mediaquerys */
@media only screen and (min-width:1024px) {

    /* seccion Galeria */
    .gridGaleria {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        /* grid-template-rows: 400px 300px 350px 300px 300px; */
        gap: 6px 6px;
        grid-auto-flow: row;
        grid-template-areas:
            "perro1 perro2 caballo caballo"
            "castillo castillo casa estacion"
            "mural BsAs BsAs BsAs"
            "mural cancha1 cancha2 velero"
            "scooter cancha3 cancha4 velero";
    }

    /* header */
    .hamb {
        display: none;
    }

    .Xmenu {
        display: none;
    }

    /* SERVIVIOS */
    .gridServicios {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 250px 250px;
        grid-template-areas:
            "talleres pedidos acrilicos"
            "murales mates estampitas"
        ;
    }

    .serviciosSection img {
        height: 100vh;
        max-width: 70%;
    }

    .serviciosSection p,
    h2 {
        margin: 30px 25px;
    }

    .serviciosSection img {
        height: 100vh;
        max-width: 70%;
    }

    .serviciosSection p,
    h2 {
        margin: 30px 25px;
    }


}

@media only screen and (min-width:768px) and (max-width:1023px) {


    .columna33 {
        width: calc(33%);
        overflow: hidden;
    }

    .algunostrabajos .columna33 img {
        width: 100%;
    }

    /* Galeria */
    .gridGaleria {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 6px 6px;
        grid-template-areas:
            "perro1 perro2 caballo"
            "castillo casa estacion"
            "mural BsAs BsAs"
            "mural scooter cancha1"
            "cancha2 cancha3 cancha4";
    }

    .img11 img {
        display: none;
    }

    /* footer */
    footer .logofooter img {
        width: 20vh;
    }

    footer .columnaredes a {
        font-size: 35px;
    }

    footer .columnaredes {
        padding: auto;
    }

    footer .columna33 li {
        font-size: 15px;
    }

    /* header */
    .hamb {
        display: none;
    }

    .Xmenu {
        display: none;
    }

    /* SERVICIOS */
    .gridServicios {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 250px 250px;
        grid-template-areas:
            "talleres pedidos acrilicos"
            "murales mates estampitas"
        ;
    }

    .serviciosSection img {
        height: 100vh;
        max-width: 70%;
    }

    .serviciosSection p,
    h2 {
        margin: 30px 25px;
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {


    .columna33 {
        width: calc(33%);
        overflow: hidden;
    }

    .gridInicio {
        grid-template-columns: 1fr 1fr;
    }

    /* MEDIA GALERIA */
   
    .gridGaleria {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3px;

        grid-template-areas:
            "perro1 perro2"
            "caballo castillo"
            "casa estacion"
            "BsAs BsAs"
            "mural scooter"
            "mural cancha1"
            "cancha2 cancha3"
            "cancha4 velero";
    }

    .img {
        background-size: cover;
        width: 100%;
    }

    /* MEDIA SERVICIOS */
    .gridServicios {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: calc((100vh - 139px)/3) calc((100vh - 139px)/3) calc((100vh - 139px)/3);
        grid-template-areas:
            "talleres pedidos"
            "acrilicos murales"
            "mates estampitas"
        ;
    }

    .serv h4 {
        font-size: 50px;
    }

    #talleres {
        height: 100vh;
        background-image: url(../img/taller.jpeg);
        background-position: center;
        background-size: cover;

    }

    #pedidos {
        height: 100vh;
        background-image: url(../img/Flores\ paris\ 1.jpg);
        background-position: center;
        background-size: cover;
    }

    #acrilicos {
        height: 100vh;
        background-image: url(../img/acrilico.jpeg);
        background-position: center;
        background-size: cover;
        filter: contrast(100%);
    }

    #murales {
        height: 100vh;
        background-image: url(../img/mural.jpg);
        background-position: center;
        background-size: cover;
        filter: contrast(100%);
    }

    #mates {
        height: 100vh;
        background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 70%), url(../img/mates.jpg);
        background-position: center;
        background-size: cover;
    }

    #estampitas {
        height: 100vh;
        background-size: cover;
        background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0) 80%), url(../img/estampitas.jpeg);
    }

    .serviciosSection img {
        display: none;
    }

    .serviciosSection .descServ{
        width: 100%;
        background-image: linear-gradient(rgba(255, 255, 255, 0.378)30%, rgba(255,255,255,0));
    }

    /* footer pantallas chicas */
    footer .row {
        display: block;
    }

    footer .columna33 {
        width: 100%;
        justify-content: center;
    }

    footer .columna33 ul {
        justify-content: center;
        padding: 0;
    }

    /* header */
    .hamb {
        margin-right: 16px;
        display:block;
        font-size: 30px;
        position: relative;
        z-index: 4;
        color: map-get($colores, c1 );
        a{
            text-decoration: none;
        }
    }

    .menu {
        position: fixed;
        width: 50vw;
        height: 100%;
        background-color: white;
        padding-top: 20px;
        top: 0;
        right: 0;
        transition: all .8s ease;
        transform: translateX(100%);
        z-index: 8;
        ul {
            flex-direction: column;
            li {
                margin-bottom: 50px;
                border-bottom: 1px solid map-get($colores, c1);
                a{
                border: none;
                font-size: 2rem;
                }
            }
        }   
    }
    .menu.open{
        transform: translateX(0);
    }
 
    /* CONTACTO */
    .fieldsetContacto {
        width: 90%;
        margin: auto;
        padding: 3px;
    }

    .formContacto {
        padding: 0;
    }

    .contactoLinea input {
        flex-shrink: 3;
    }

    .contactoLinea label {
        flex-shrink: 2;
    }


}

@media only screen and (max-width:576px) {
        /* header */
        .hamb {
            margin-right: 16px;
            display:block;
            font-size: 30px;
            position: relative;
            z-index: 4;
            color: map-get($colores, c1 );
            a{
                text-decoration: none;
            }
        }
        .menu {
            position: fixed;
            width: 80vw;
            height: 100%;
            background-color: white;
            padding-top: 20px;
            top: 0;
            right: 0;
            transition: all .8s ease;
            transform: translateX(100%);
            z-index: 8;
            ul {
                margin-top: 10vh;
                flex-direction: column;
                li {
                    margin-bottom: 50px;
                    border-bottom: 1px solid map-get($colores, c1);
                    a{
                        border: none;
                        font-size: 2rem;
                    }
            }   }
        }
        .menu.open{
            transform: translateX(0);
        }

    /* INDEX */
    .imagenindex {
        display: none;
    }

    .sobremi {
        padding: 0;
        margin: 8px 0;
    }

    aside {
        text-align: justify;
        color: white;
        padding: 20px;
        padding-bottom: 30vh;
        background-image: url(../img/cuadroybelen.jpg);
        background-size: cover;

        h2 {
            text-align: center;
        }
    }

    .gridInicio {
        grid-template-columns: 1fr;
        margin: 15px 10px;
    }


    .gridGaleria {
        /* grid-template-columns: 1fr; */
        /* row-gap: 10px; */
        margin: 0;
    }

    .img {
        // min-height: 40vh;
        width: 100%;
    }

    
    
    /* contacto */
    .fieldsetContacto {
        width: 95%;
        margin: auto;
    }
    
    .formContacto {
        width: 100%;
    }

    .formContacto .contactoLinea input {
        width: 100%;
    }

    .contactoLinea {
        display: contents;
    }

    /* MEDIA SERVICIOS */
    .gridServicios{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 5px;
    }
    #talleres {
        height: 100vh;
        background-image: url(../img/taller.jpeg);
        background-position: center;
        background-size: cover;

    }

    #pedidos {
        height: 100vh;
        background-image: url(../img/Flores\ paris\ 1.jpg);
        background-position: center;
        background-size: cover;
    }

    #acrilicos {
        height: 100vh;
        background-image: url(../img/acrilico.jpeg);
        background-position: center;
        background-size: cover;
        filter: contrast(100%);
    }
    #murales {
        height: 100vh;
        background-image: url(../img/mural.jpg);
        background-position: center;
        background-size: cover;
        filter: contrast(100%);
    }
    
    #mates {
        height: 100vh;
        background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 70%), url(../img/mates.jpg);
        background-position: center;
        background-size: cover;
    }

    #estampitas {
        height: 100vh;
        background-size: cover;
        background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0) 80%), url(../img/estampitas.jpeg);
    }


    .serviciosSection img {
        display: none;
    }
    .serviciosSection .descServ{
        width: 100%;
        background-image: linear-gradient(rgba(255, 255, 255, 0.378)30%, rgba(255,255,255,0));
    }

    /* footer pantallas chicas */
    footer .row {
        display: block;
    }

    footer .columna33 {
        width: 100%;
        justify-content: center;
    }

    footer .columna33 ul {
        justify-content: center;
        padding: 0;
    }
}